<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav  style="width: 20%" #drawer class="sidenav" fixedInViewport="false"
      
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar > 
      
      <img class="img-responsive" src="assets/images/juncos_logo_sin_fondo.png"  style="height:100%; width: 100%;"> 
      
    </mat-toolbar>

    <mat-nav-list >
      
      <a mat-list-item routerLink="/mainPage" routerLinkActive="active-list-item">Pagina Principal</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/participantes" routerLinkActive="active-list-item">Participantes</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/lugares" routerLinkActive="active-list-item">Lugares</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/universidades" routerLinkActive="active-list-item">Universidades</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/medallero" routerLinkActive="active-list-item">Medallero</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/eventos" routerLinkActive="active-list-item">Eventos</a>
      <mat-divider></mat-divider>
      
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content >
    <mat-toolbar >
      <!-- <button
      
        type="button"
        aria-label="Toggle sidenav"
       
        >
        <mat-icon  style="float:right">menu</mat-icon>
      </button> -->
      
      <button
      
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon>menu</mat-icon>
      </button>
      <span></span>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>

  
</mat-sidenav-container>

